header{
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header>h1{
  margin: 5px;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.form>input{
  margin:10px
}

.todo-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.todo-box{
  width: 150px;
  height: 150px;
  border: 2px solid green;
  border-radius: 10px;
  margin: 15px;
}

.todo-box>p{
  margin: 10px;
  display: flex;
  justify-content: center;
}